<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Vigenere Cipher</title>
</head>
<body>
    <h1>Vigenere Cipher</h1>
    <a href="/encrypt">Encrypt a message</a><br>
    <a href="/decrypt">Decrypt a message</a>

    <h1>Decrypt a message</h1>
    <form action="" method="POST">
        <label>Enter your message</label><br>
        <input type="text" name="message"><br><br>
        <label>Enter your passphrase</label><br>
        <input type="text" name="passphrase"><br><br>
        <input type="submit" value="Decrypt">
    </form>
</body>
</html>