<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Vigenere Cipher</title>
</head>
<body>
    <h1>Vigenere Cipher</h1>
    <a href="/encrypt">Encrypt a message</a><br>
    <a href="/decrypt">Decrypt a message</a>
</body>
</html>